[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
mypy = "*"
isort = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
drf-nested-routers = "*"
coreapi = "*"

[requires]
python_version = "3.8"
